<div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="nav">
    <button mat-icon-button>
         <mat-icon fxFlex  (click)="shouldOpenMenu()">menu</mat-icon>
    </button>
     <div fxFlex fxLayout="row" fxLayoutAlign="center center">
       <h1 ><span class="blue">My Music </span><span class="darkblue">List</span></h1>
     </div>
     <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-icon-button (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
    </div>
 </div>
 
 