<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"   *ngFor="let Song of songs" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z4">
        <mat-card-header fxLayoutAlign="center center" >
          <mat-card-title fxLayoutAlign="center center"><mat-icon>audiotrack</mat-icon>
            {{Song.nameOfSong}}</mat-card-title>
        </mat-card-header>
        <div class="zaLink">
          <p>Link:  <a href="{{Song.urlOfSong}}">Song link </a></p>
        </div>
        <mat-card-content>
          <p> Singer: {{Song.nameOfSinger}}</p>
          <p>Favorite: <mat-icon *ngIf="show(Song.favorite)">done_outline</mat-icon> <mat-icon *ngIf="show2(Song.favorite)">cancel</mat-icon></p>
          <p>Category: {{Song.category.songCategory}}</p>
        </mat-card-content>
        <mat-card-actions class="align-center" fxLayoutAlign="center center">
          <div class="left">
          <button mat-button class="mb-2" (click)="edit(Song.id)"><b>Edit</b></button> 
        </div>
        <div class="right">
          <button mat-button class="mb-2" (click)="delete(Song.id)"><b>Delete</b></button> 
        </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>